{% extends "main.html" %}

{% block main %}

<link rel="stylesheet" href="/static/1_main_css.css">

    <div>
        <!--главная страница-->
        <div class="welcoming_page_cl" id="welcoming_page_id">
            <!--встречающая страница-->
            <div class="blue_background_cl">
                <!--синий_округленный_фон-->
            </div>
            <div class="blue_background_2_cl">
                <!--синий_фон-->
            </div>
            <div class="welcoming_text_cl" id="welcoming_text_id">
                <!--встречающий_текст-->
                <span id="text_1_id">ПОМОЖЕМ ВАМ </span><br>
                <span  id="text_2_id">с вашими внутренними проблемами</span><br>
                <div class="check_mark_cl">
                    <img src="/static/check_mark.png" alt="Н/Ф">
                    <span> - индивидуальная терапия;</span>
                </div>
                <div class="check_mark_cl">
                    <img src="/static/check_mark.png" alt="Н/Ф">
                    <span> - индивидуальное консультирование;</span>
                </div>
                <div class="check_mark_cl">
                    <img src="/static/check_mark.png" alt="Н/Ф">
                    <span> - консультирование пар;</span>
                </div>
                <div class="check_mark_cl">
                    <img src="/static/check_mark.png" alt="Н/Ф">
                    <span> - консультирование родителей;</span>
                </div>
                <div class="list_of_advantages_cl">
                    <!--мини_перечень_преимущества-->
                    <div>
                        <img src="/static/1_work_experience.png" alt="Н/Ф">
                        <span>опыт работы</span>
                        <span>12 лет</span>
                    </div>
                    <div>
                        <img src="/static/2_price_logo.png" alt="Н/Ф">
                        <span>умеренная</span>
                        <span>цена услуг</span>
                    </div>
                    <div>
                        <img src="/static/3_qualitative_analysis.png" alt="Н/Ф">
                        <span>качественный</span>
                        <span>анализ проблемы</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="organizations_activities_cl" id="organizations_activities_id">
            <!--деятельность организации-->
            <h1>ПОМОЖЕМ ВАМ ЕСЛИ</h1>
            <div class="your_problems_cl">
                <!--ваши проблемы-->
                <div>
                    <div>
                        <!--Фото проблемы-->
                    </div>
                    <div>
                        <h3>ВЫБИВАЕТЕСЬ ИЗ СИЛ</h3>
                        <div>
                            Постоянное чувство усталости, даже после отдыха.
                            Ощущение, что у вас нет энергии даже для выполнения повседневных задач.
                            Потеря интереса к работе или другим обязанностям.
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--Фото проблемы-->
                    </div>
                    <div>
                        <h3>ПОТЕРЯЛИ ВЕРУ В СЕБЯ</h3>
                        <div>
                            Боязнь неудачи, что может привести к избеганию новых задач или вызовов.
                            Постоянное сравнение себя с другими и чувство уступки.
                            Отказ от принятия ответственности за свою жизнь и решения.
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--Фото проблемы-->
                    </div>
                    <div>
                        <h3>НЕТ ЭНЕРГИИ</h3>
                        <div>
                            Потеря интереса к решению проблем.
                            Склонность откладывать принятие решений.
                            Убеждение, что у вас нет достаточных возможностей для решения проблемы.
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--Фото проблемы-->
                    </div>
                    <div>
                        <h3>НЕУДОВЛЕТВОРЕННОСТЬ</h3>
                        <div>
                            Постоянное ощущение недостаточности и негативное отношение к себе.
                            Требование себе абсолютного совершенства, что может привести к чрезмерной самокритичности.
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <!--Фото проблемы-->
                    </div>
                    <div>
                        <h3>КОРИМ, ЗЛИМСЯ, ОСУЖДАЕМ</h3>
                        <div>
                            Постоянное или частое чувство раздражения, гнева или ярости.
                            Тенденция к критике не только себя, но и окружающих, возможно, безапелляционное осуждение.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="description_organization_cl" id="description_organization_id">
            <!--решение_проблем-->
            <div>

            </div>
            <div class="descr_organ_img_cl">
                
            </div>
            <div class="descr_organ_text_cl">
                <p>
                    Здравствуйте. Меня зовут <b>Иванова Татьяна</b> я дипломированный психолог и являюсь директором данного центра
                    психологической помощи. Изучаю и анализирую проблемы людей 12 лет.
                </p>
                <p>
                    Для работы с расстройствами использую краткосрочную аналитическую терапию по методу Джорджио Нордэна.
                    Многие клиенты отмечают, что после нашего курса реабелитации они почувствовали себя освеженными и облегченными,
                    освобожденными от тяжелых эмоций, которые их беспокоили.
                </p>
                <p>Если у вас есть проблемы с которыми не можете справится просим вас вас записатся на первичную консультацию:</p>
                <div id="order_button_3_id" onclick='{document.location.href = "/block_3"}'>
                    <span>ЗАПИСАТЬСЯ</span>
                </div>
            </div>
            <div>
                
            </div>
        </div>
    </div>

    <script>
        'use strict' // Установка JS на строгий режим написания кода;
        function welcoming_page_adaptation_f() {
            // Адаптация высоты встречающей страницы;
            let head_website = document.getElementById('head_website_id'); // (шапка сайта);
            let head_website_dempf = document.getElementById('head_website_dempf_id'); // (демпфер шапка сайта);
            let welcoming_page = document.getElementById('welcoming_page_id'); // (встречающая страница);
            let footer = document.getElementById('footer_id'); // (подвал сайта);
            welcoming_page.style.height = `${window.innerHeight - head_website.offsetHeight}px`; 
            head_website_dempf.style.height = `${head_website.offsetHeight}px`;

            // Адаптация встречающего текста;
            let welcoming_text = document.getElementById('welcoming_text_id');
            welcoming_text.style.zoom = (window.innerHeight / 8) / 100;
            if (window.innerWidth != 750) {
                welcoming_text.style.right = `${(window.innerWidth / 1550) * 150}px`;
            }
            else {
                welcoming_text.style.right = `0px`;
            }

            // Адаптация текста при макс.ширине экрана 700px;
            let text_1 = document.getElementById('text_1_id');
            let text_2 = document.getElementById('text_2_id');
            text_1.style.fontSize = `80px`;
            text_2.style.fontSize = `45px`;
            if (window.innerWidth <= 700) {
                text_1.style.fontSize = `${80 * (window.innerWidth / 700)}px`;
                text_2.style.fontSize = `${45 * (window.innerWidth / 700)}px`;
            }

        }
        window.addEventListener('orientationchange', _=>{welcoming_page_adaptation_f()});
        window.addEventListener('resize', _=>{welcoming_page_adaptation_f()});
        document.addEventListener('DOMContentLoaded', _=>{welcoming_page_adaptation_f()})
    </script>

<script src="/static/1_main_js.js"></script>

{% endblock %}