{% extends "main.html" %}

{% block main %}

<link rel="stylesheet" href="/static/block_2_css.css">

<div class="reviews_cl">
    <h2 id="reviews_h2_id">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h2>
    <!--первый отзыв-->
    <div class="array_reviews_one_cl">
        <div class="arr_select_cl">

        </div>
        <div class="text_reviews_cl">
            <div><b>отзыв: </b>Рувков А.В. исп.директор ООО "Ардрин"</div>
            <p>
                Хочу поделиться своим восторгом от участия в последнем тренинге, организованном для нашей компании. Это был поистине вдохновляющий опыт, который приносит значительные выгоды как для индивидуального роста, так и для развития нашей команды.
                Особенно мне понравился акцент на создание эффективного командного взаимодействия и развитие навыков управления стрессом в условиях высокой нагрузки. Эти аспекты являются ключевыми для успешного развития нашего бизнеса в современном быстром темпе.
            </p>
        </div>
    </div>
    <!--второй отзыв-->
    <div class="array_reviews_two_cl">
        <div class="text_reviews_cl">
            <div><b>отзыв: </b>Игнатьева С.Г.</div>
            <p>
                Ваше внимание к моим эмоциональным и психологическим потребностям не оставило меня равнодушной. В процессе наших встреч я почувствовала, что могу открываться и делиться своими чувствами без страха осуждения. Ваши навыки слушания и понимания действительно сделали процесс консультирования невероятно поддерживающим.
                Спасибо вам за вашу преданность и профессионализм. Я чувствую, что благодаря вашей помощи я нашла новый уровень эмоционального благополучия и уверенности в себе.
            </p>
        </div>
        <div class="arr_select_cl">

        </div>
    </div>
    <!--третий отзыв-->
    <div class="array_reviews_one_cl">
        <div class="arr_select_cl">

        </div>
        <div class="text_reviews_cl">
            <div><b>отзыв: </b>Иванов А.Г. и Иванова Е.Д. (семейная пара)</div>
            <p>
                В процессе консультаций мы узнали множество полезных стратегий для решения конфликтов и укрепления наших взаимоотношений. Это был настоящий виток свежего воздуха для нашей семьи, и мы благодарны вам за ваш вклад в наше семейное благополучие.
                Спасибо за ваше профессионализм, чуткость и теплоту. Мы уверены, что ваша работа имеет глубокий и долгосрочный эффект на наши отношения.
            </p>
        </div>
    </div>
    <!--четвертый отзыв-->
    <div class="array_reviews_two_cl">
        <div class="text_reviews_cl">
            <div><b>отзыв: </b>Довыдов О.Н. профессиональный художник</div>
            <p>
                Благодаря вашему опыту и креативному подходу к консультированию, я получил новый взгляд на свою карьеру художника. Ваши предложения по улучшению моего портфолио и эффективной самопродвижении в мире искусства оказались весьма ценными.
                Я также хотел бы выразить свою благодарность за ваше внимание к деталям и за ваше стремление настроить консультации под мои индивидуальные потребности. В результате я не только получил конкретные исследовательские задачи, но и научился лучше понимать свой художественный путь.
            </p>
        </div>
        <div class="arr_select_cl">

        </div>
    </div>
</div>

<script src="/static/block_2_js.js"></script>

{% endblock %}