{% extends "main.html" %}

{% block main %}

<link rel="stylesheet" href="/static/block_1_css.css">

<div class="services_of_a_psychologist_cl">
    <!--Индивидуальные консультации-->
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Индивидуальные консультации
            </h2>
            <div>
                Психологи могут работать с людьми индивидуально, предоставляя консультации и поддержку по различным
                вопросам, таким как стресс, тревога, депрессия, личностный рост и т.д.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>4000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>1 день (на 2 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.день на 2 часа: </span>
                <b>2000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <!--Индивидуальные консультации-->
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Психотерапия
            </h2>
            <div>
                Психотерапия - это форма терапии, направленная на обработку эмоциональных и психологических проблем. Различные подходы могут включать когнитивно-поведенческую терапию, психодинамическую терапию, гештальт-терапию и др.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>38000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>4 дня (по 3 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.день на 3 часа: </span>
                <b>2000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <!--Индивидуальные консультации-->
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Парные и семейные консультации
            </h2>
            <div>
                Психологи могут помогать в решении проблем в отношениях, предоставляя консультации для пар и семей.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>6000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>1 день (на 3 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.день на 3 часа: </span>
                <b>3000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Детская и подростковая психотерапия
            </h2>
            <div>
                Специализированные услуги для детей и подростков, включая консультации с родителями.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>6000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>1 день (на 3 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.день на 3 часа: </span>
                <b>2000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Консультирование по карьере
            </h2>
            <div>
                Психологи могут помогать в выборе профессии, оценке навыков и интересов, а также в решении проблем, связанных с работой.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>15000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>2 дня (по 4 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.дни: </span>
                <b>5000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Групповая терапия
            </h2>
            <div>
                Организация терапевтических сессий для небольших групп людей с общими проблемами.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>50000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>10 дней (по 2 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.неделя по 2 часа: </span>
                <b>25000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Консультирование по здоровью
            </h2>
            <div>
                Помощь в справлении с психологическими аспектами заболеваний, хронических состояний или проблем здоровья.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>7000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>1 день (на 2 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.день (на 2 часа): </span>
                <b>2500 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Тренинги и семинары
            </h2>
            <div>
                Проведение обучающих мероприятий по управлению стрессом, развитию навыков общения, улучшению самооценки и т.д.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>80000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>3 недели (по 2 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.неделя по 2 часа: </span>
                <b>20000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <div>

        </div>
        <div class="serv_psych_img_cl">
            <!--изображение-->
        </div>
        <div class="serv_psych_text_cl">
            <h2>
                <!--процедура-->
                Экспертные консультации
            </h2>
            <div>
                Предоставление психологических экспертных заключений и консультаций для различных организаций и проектов.
            </div>
        </div>
        <div class="serv_psych_price_cl">
            <div>
                <span>Стоимость сеанса: </span>
                <b>10000 ₽</b>
            </div>
            <div>
                <span>Длительность сеанса: </span>
                <b>1 день (на 3 часа)</b>
            </div>
            <hr>
            <div>
                <span>Доп.день на 3 часа: </span>
                <b>5000 ₽</b>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

<script src="/static/block_1_js.js"></script>

{% endblock %}